#exclude everything
*
#unexclude directories
!*/
#unexclude cmsis
!/cmsis/*
#unexclude all files in src folders
!**/src/**
#unexclude all files in in folders
!**/inc/**
#unexclude .uvproj and .uvprojx files
!*.uvproj
!*.uvprojx
!*.uvopt
#unexclude readme files
!*.md
#unexclude .gitignore
!.gitignore




